//
// Base
//

// Set default font family to `sans-serif`.
// Prevent text size adjust after orientation change, without disabling
// the user zoom.
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// Remove default body margin.
body {
  margin: 0;
}
