//
// Display definitions
//

// Correct `block` display not defined for `main` in IE 10+.
main {
  display: block;
}

// Add the correct display for iOS 7-.
audio:not([controls]) {
  display: none;
  height: 0;
}

// Address `[hidden]` styling not present in IE 10.
// Hide the `template` element in IE.
[hidden],
template {
  display: none;
}
