//
// Tables
//

// Avoid layout breaking with setting `max-width`.
// Remove most spacing between table cells.
table {
  max-width: 100%;
  border-collapse: collapse;
}

// Reset default `text-align`.
th {
  text-align: left;
}
